<p>
  <b>Tag:</b>
  <%=h @qualification.tag %>
</p>

<p>
  <b>Positive:</b>
  <%=h @qualification.positive %>
</p>


<%= link_to 'Edit', edit_qualification_path(@qualification) %> |
<%= link_to 'Back', qualifications_path %>